@model IEnumerable<ContactManager.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

@* Datatables *@
@section CSS
{
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel=" ="stylesheet/>
}


@section Scripts
{
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
    $('#contactTable').DataTable({
        "columnDefs":
        [
            {
                "orderable": true,"targets":-1@*on veut que la derniere colonne ne soit pas triée*@
            }
        ],
        "lengthMenu" : [[5,10,25,50,-1],[5,10,25,50,"Tous"]]@*nombre d'elements dans la liste*@
            });
    </script>
}

<h1>Contact</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-light" id="contactTable">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodePostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.CategorieName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

